dumper:
    provider:   Combi\Tris\Dumper

logger:
sample:
    levels:
        emergency:  1
        alert:      1
        critical:   1
        error:      1
        warning:    1
        #notice:     1      # 通过关闭notice级别，可避免记录 LogicException 的样本
    whitelist:
    blacklist:


catcher:
    provider:   Combi\Tris\Catcher
    shutdown_hook:  true
    print_exc:      true
